doctype html
html
  head
    meta(charset="UTF-8")
    link(rel='stylesheet', href='/stylesheets/css/bootstrap.css')
    link(rel="stylesheet", href='/stylesheets/init.css')
    title= "BBS登录"
  body
    div(class="container")
        form(id="form" class="form-horizontal  col-sm-3" action="/registerORlogin" method="post")
            div(class="form-group")
              label(class="col-sm-2 control-label" for="username" ) 帐号 
              div(class="col-sm-10")
                input(class="form-control" type="text" name="username" autofocus="autofocus" autocomplete="off" placeholder="请输入用户名" id="username")
            div(class="form-group")
              label(class="col-sm-2 control-label" for="password") 密码 
              div(class="col-sm-10")
                input(class="form-control" type="password" name="password"  placeholder="请输入密码" id="password")
            div(class="form-group")
              label(class="col-sm-2 control-label" for="captcha") 验证码 
              div(class="col-sm-10")
                input(class="form-control" style="width:calc(100% - 90px);display:inline-block; vertical-align: middle;" type="text" name="captcha"  placeholder="请输入验证码" id="captcha"  autocomplete="off")
                span(id="captcha_img" style="width:80px; display:inline-block;cursor:pointer; height:35px; margin-left:10px")
            div(class="form-group " id="bottom")
              div(class="col-sm-offset-2 col-sm-10")
                div(class="checkbox" style="float:right")
                  label
                    input(type="checkbox")
                    |记住密码
            div(class="form-group")
              div(class="col-sm-offset-2 col-sm-10")
                button(type="submit" class="btn btn-primary active" name="SignUp" style="width:45%; float:left;")="Sign Up"
                button(type="submit" class="btn btn-success active" name="SignIn" style="width:45%; float:right;")="Sign In"
    button( style="display:none" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm")
    div(class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel")
      div(class="modal-dialog modal-sm" role="document")
        div(class="modal-content")
          div(class="modal-header")
            h3(class="modal-title" id="gridSystemModalLabel")
              span
          div(class="modal-body" style="font-size:18px; text-indent:20px;")
            span
          div(class="modal-footer")
            button(type="button" class="btn btn-block" data-dismiss="modal")="Close"
      
    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/axios.min.js")
    script(src="/javascripts/registerORlogin.js")
    script(src="/javascripts/bootstrap.js")