doctype html
html
  head
    title= BBC
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/css/bootstrap.css')
    block css
  body

    block content
    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/axios.min.js")
    script(src="/javascripts/bootstrap.js")
    block js 

