*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
  white-space: nowrap;
}
html,body{
  width: 100%;
  height: 100%;
}



@media (min-width: 1200px) {
  body{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #form{
    width:25%;
  }
}


@media (min-width: 768px) {
  body{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #form{
    width: 40%;
    margin-left: -50px;
  }

}



#captcha_img{
  vertical-align: middle;
}

#captcha_img svg{
  margin-top:-3px;
}